<div class="container portfolio">
  <div class="phead">
    <div class="ptitle">{{ portfolio.name }}</div>
    <div class="pstitle">1232 123 123 12</div>
  </div>
  <div class="pbody">
    <div class="description">
      This is one long description  This is one long description. This is one long description.This is one long description.This is one long description.This is one long description.
    </div>
    <div class="section">
      <div class="sheader">
        Skills
      </div>
      <div class="sbody">
        <ul>
          <li>C#</li>
          <li>Java</li>
        </ul>
      </div>
    </div>
    <div class="section">
        <div class="sheader">
          Achievements
        </div>
        <div class="sbody">
          <ul>
            <li>Ach #1</li>
            <li>Ach #2</li>
          </ul>
        </div>
    </div>
    <div class="section">
        <div class="sheader">
          Projects
        </div>
        <div class="sbody">
          <div class="proj">
            <div class="ptitle">Proj title #1</div>
            <div class="pdescription">This is one long description  This is one long description. This is one long description.This is one long description.This is one long description.This is one long description.</div>
            <div class="pdate">Start Date: 29/2/3199</div>
            <div class="pdate">End Date: 29/2/3199</div>
          </div>
        </div>
        <div class="sbody">
            <div class="proj">
              <div class="ptitle">Proj title #1</div>
              <div class="pdescription">This is one long description  This is one long description. This is one long description.This is one long description.This is one long description.This is one long description.</div>
              <div class="pdate">Start Date: 29/2/3199</div>
              <div class="pdate">End Date: 29/2/3199</div>
            </div>
          </div>
    </div>
  </div>
</div>