<div class="container portfolio">
  <div class="phead">
    <div class="ptitle">{{ portfolio.name }}</div>
    <div class="pstitle">{{ portfolio.header }}</div>
  </div>
  <div class="pbody">
    <div class="description">
      {{ portfolio.description }}
    </div>
    <div class="section">
      <div class="sheader">
        Skills
      </div>
      <div class="sbody">
        <ul>
          <li *ngFor="let s of portfolio.skills">
            {{ s.skillname }}
          </li>
        </ul>
      </div>
    </div>
    <div class="section">
        <div class="sheader">
          Achievements
        </div>
        <div class="sbody">
          <ul>
              <li *ngFor="let a of portfolio.achievements">
                {{ a.achievement }}
              </li>
          </ul>
        </div>
    </div>
    <div class="section">
        <div class="sheader">
          Projects
        </div>
        <div class="sbody" *ngFor="let p of portfolio.projects">
          <div class="proj">
            <div class="ptitle">{{ p.title }}</div>
            <div class="pdescription">{{ p.description }}</div>
            <div class="pdate">Start Date: {{ p.startDate }}</div>
            <div class="pdate">End Date: {{ p.endDate }}</div>
          </div>
        </div>
    </div>
  </div>
</div>